/* ############################################################################################# */
/* //////////////////////////////////////////// MAIN /////////////////////////////////////////// */
/* ############################################################################################# */

@media (max-width: 1024px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14.5px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
}

/* -------------------------------------------- Body ------------------------------------------- */

body {

    /* Layout */
    margin: 0;

    /* Font */
    font-family: var(--font-family);
}

/* --------------------------------------------- H1 -------------------------------------------- */

h1 {

    /* Font */
    font-size: var(--header-font-size);
    font-weight: bold;
    color: var(--color-5);
}

/* --------------------------------------------- P --------------------------------------------- */

p {

    /* Font */
    font-size: var(--normal-font-size);
    font-weight: normal;
    color: whitesmoke;
}

/* ############################################################################################# */
/* ////////////////////////////////////// BACKGROUND VIDEO ///////////////////////////////////// */
/* ############################################################################################# */

.background-video {

    /* Layout */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Style */
    background: var(--color-2);
}

/* ############################################################################################# */
/* /////////////////////////////////////////// HEADER ////////////////////////////////////////// */
/* ############################################################################################# */

/* ------------------------------------------- Header ------------------------------------------ */

.header {

    /* Layout */
    display: flex;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 150px;
    padding: 0 50px 0 50px;

    /* Content Layout */
    justify-content: space-between;
    align-items: center;

    /* Style */
    background-color: rgb(from var(--color-1) r g b / 60%);
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transition: all 0.5s ease-out;
}

.header.scrolled {

    /* Style */
    background-color: var(--color-1);
}

/* ---------------------------------------- Header - H1 ---------------------------------------- */

.header h1 {

    /* Layout */
    display: block;
    margin: 0;
}

/* ------------------------------------ Header - H1 - Small ------------------------------------ */

.header h1 small {

    /* Layout */
    display: block;
    margin-top: 5px;

    /* Font */
    font-size: var(--normal-font-size);
    font-weight: lighter;
    color: var(--color-4);
}

/* --------------------------------------- Header - Links -------------------------------------- */

.header .links {

    /* Layout */
    display: flex;
}

/* ---------------------------------- Header - Links - Resume ---------------------------------- */

.header .links .resume {

    /* Layout */
    display: flex;
    height: 70px;
    width: 85px;

    /* Content Layout */
    align-items: center;
    justify-content: center;

    /* Style */
    border: solid 1px var(--color-5);
    border-radius: 3px;
    background-color: var(--color-2);
    transition: all 0.2s ease;

    /* Font */
    color: var(--color-4);
}

.header .links .resume:hover,
.header .links .resume:active {

    /* Style */
    border-color: var(--color-4);
    background-color: var(--color-4);

    /* Font */
    color: var(--color-1);
}

/* ############################################################################################# */
/* ////////////////////////////////////////// SECTION ////////////////////////////////////////// */
/* ############################################################################################# */

/* ------------------------------------------ Section ------------------------------------------ */

.section {

    /* Layout */
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 50px;

    /* Content Layout */
    justify-content: center;
}

/* ---------------------------------------- Section - H1 --------------------------------------- */

.section h1 {

    /* Layout */
    text-align: center;
    margin: 20px 0 20px 0;
}

/* ---------------------------------------- Section - P ---------------------------------------- */

.section p {

    /* Layout */
    text-align: center;
    margin: 10px 0 10px 0;
}

/* ############################################################################################# */
/* ////////////////////////////////////// SECTION ABOUT ME ///////////////////////////////////// */
/* ############################################################################################# */

/* -------------------------------------- Section-about-me ------------------------------------- */

#section-about-me {

    /* Layout */
    margin-top: 65vh;
    padding-top: 20vh;

    /* Style */
    background-image: linear-gradient(transparent, rgb(from var(--color-2) r g b / 70%), var(--color-2));
}

/* ----------------------------------- Section-about-me - H1 ----------------------------------- */

#section-about-me h1 {

    /* Layout */
    margin: 30px 0 30px 0;
}

/* ------------------------------------ Section-about-me - P ----------------------------------- */

#section-about-me p {

    /* Layout */
    margin: 20px 0 20px 0;
}

/* ############################################################################################# */
/* //////////////////////////////////// SECTION MY PROJECTS //////////////////////////////////// */
/* ############################################################################################# */

/* ------------------------------------ Section-my-projects ------------------------------------ */

#section-my-projects {

    /* Layout */

    /* Style */
    background-color: var(--color-2);
}