/* ############################################################################################# */
/* //////////////////////////////////////////// MAIN /////////////////////////////////////////// */
/* ############################################################################################# */

@media (max-width: 1024px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }
}

/* -------------------------------------------- Body ------------------------------------------- */

body {

    /* Layout */
    margin: 0;

    /* Font */
    font-family: var(--font-family);
}

/* --------------------------------------------- H1 -------------------------------------------- */

h1 {

    /* Font */
    font-size: var(--header-font-size);
    font-weight: bold;
    color: var(--color-5);
}

/* --------------------------------------------- P --------------------------------------------- */

p {

    /* Font */
    font-size: var(--normal-font-size);
    font-weight: normal;
    color: whitesmoke;
}

/* ------------------------------------------ Btn-Link ----------------------------------------- */

.btn-link {

    /* Layout */
    display: inline-block;
    line-height: 0;
    text-decoration: none;
}

/* ############################################################################################# */
/* ////////////////////////////////////// BACKGROUND VIDEO ///////////////////////////////////// */
/* ############################################################################################# */

.background-video {

    /* Layout */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Style */
    background: var(--color-2);
}

/* ############################################################################################# */
/* /////////////////////////////////////////// HEADER ////////////////////////////////////////// */
/* ############################################################################################# */

/* ------------------------------------------- Header ------------------------------------------ */

.header {

    /* Layout */
    display: flex;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 150px;
    padding: 0 5% 0 5%;

    /* Content Layout */
    justify-content: space-between;
    align-items: center;

    /* Style */
    background-color: rgb(from var(--color-1) r g b / 60%);
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transition: all 0.5s ease-out;
}

.header.scrolled {

    /* Style */
    background-color: var(--color-1);
}

/* ---------------------------------------- Header - H1 ---------------------------------------- */

.header h1 {

    /* Layout */
    display: block;
    margin: 0;
}

/* ------------------------------------ Header - H1 - Small ------------------------------------ */

.header h1 small {

    /* Layout */
    display: block;
    margin-top: 5px;

    /* Font */
    font-size: var(--normal-font-size);
    font-weight: lighter;
    color: var(--color-4);
}

/* --------------------------------------- Header - Links -------------------------------------- */

.header .links {

    /* Layout */
    display: flex;
    height: 100px;
    width: 50%;

    /* Content Layout */
    justify-content: end;
    align-items: center;
    gap: 1.5vw;
}

/* --------------------------------------- Header - Icons -------------------------------------- */

.header .icons {

    /* Layout */
    display: flex;
    max-width: 100%;
    max-height: 100%;

    /* Content Layout */
    gap: 1.5vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

/* --------------------------------------- Header - Icon --------------------------------------- */

.header .icon {

    /* Layout */
    aspect-ratio: 1 / 1;
    min-width: 0;
    min-height: 0;
    width: calc(50px * 1vw / 1vh);
    height: calc(50px * 1vw / 1vh);
    max-width: 50px;
    max-height: 50px;
    flex-shrink: 1;

    /* Style */
    transition: all 0.2s ease;
    opacity: 0.35;
}

.header .icon:hover,
.header .icon:active {

    /* Style */
    opacity: 1;
}

/* ---------------------------------- Header - Links - Resume ---------------------------------- */

.header .links .resume {

    /* Layout */
    display: flex;
    height: 70px;
    width: 85px;

    /* Content Layout */
    align-items: center;
    justify-content: center;

    /* Style */
    border: solid 1px var(--color-5);
    border-radius: 3px;
    background-color: var(--color-2);
    transition: all 0.2s ease;

    /* Font */
    color: var(--color-4);
}

.header .links .resume:hover,
.header .links .resume:active {

    /* Style */
    border-color: var(--color-4);
    background-color: var(--color-4);

    /* Font */
    color: var(--color-1);
}

/* ############################################################################################# */
/* ////////////////////////////////////////// SECTION ////////////////////////////////////////// */
/* ############################################################################################# */

/* ------------------------------------------ Section ------------------------------------------ */

.section {

    /* Layout */
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 50px;

    /* Content Layout */
    justify-content: center;

    /* Style */
    background-color: var(--color-2);
}

/* ---------------------------------------- Section - H1 --------------------------------------- */

.section h1 {

    /* Layout */
    text-align: center;
    margin: 20px 0 20px 0;
}

/* ---------------------------------------- Section - P ---------------------------------------- */

.section p {

    /* Layout */
    text-align: center;
    margin: 10px 20% 10px 20%;
}

@media (max-width: 900px) {
    .section p {
        margin: 10px 15% 10px 15%;
    }
}

@media (max-width: 700px) {
    .section p {
        margin: 10px 10% 10px 10%;
    }
}

/* ############################################################################################# */
/* ////////////////////////////////////// SECTION ABOUT ME ///////////////////////////////////// */
/* ############################################################################################# */

/* -------------------------------------- Section-about-me ------------------------------------- */

#section-about-me {

    /* Layout */
    margin-top: 65vh;
    padding-top: 20vh;

    /* Style */
    background-color: transparent;
    background-image: linear-gradient(transparent, rgb(from var(--color-2) r g b / 70%), var(--color-2));
}

/* ----------------------------------- Section-about-me - H1 ----------------------------------- */

#section-about-me h1 {

    /* Layout */
    margin: 30px 0 30px 0;
}

/* ------------------------------------ Section-about-me - P ----------------------------------- */

#section-about-me p {

    /* Layout */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ############################################################################################# */
/* //////////////////////////////////// SECTION EXPERIENCES //////////////////////////////////// */
/* ############################################################################################# */

/* ----------------------------------- Experiences-Container ----------------------------------- */

.experiences-container {

    /* Layout */
    display: grid;
    margin: 10px 5% 0 5%;
    
    /* Content Layout */
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 500px), 1fr));
    gap: 20px;
}

/* -------------------------------------- Experience-Card -------------------------------------- */

.experience-card {

    /* Layout */
    padding: 50px 30px 50px 30px;

    /* Content Layout */
    text-align: left;

    /* Style */
    background-color: var(--color-1);
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 20px;
}

/* ---------------------------------- Experience-Card - Title ---------------------------------- */

.experience-card .title {

    /* Layout */
    display: flex;

    /* Content Layout */
    justify-content: space-between;
    align-items: center;
}

/* ------------------------------------ Experience-Card - H1 ----------------------------------- */

.experience-card h1 {

    /* Layout */
    display: flex;
    margin: 0;
    padding-right: 20px;

    /* Content Layout */
    align-items: center;
    gap: 10px;

    /* Font */
    text-align: left;
    font-size: var(--header-2-font-size);
    color: var(--color-5);
}

/* ------------------------------------ Experience-Card - H2 ----------------------------------- */

.experience-card h2 {

    /* Layout */
    margin: 0;

    /* Font */
    text-align: left;
    font-size: var(--small-font-size);
    font-weight: lighter;
    color: var(--color-5);
}

/* ------------------------------------ Experience-Card - P ------------------------------------ */

.experience-card p {

    /* Layout */
    margin: 10px 0 0 0;

    /* Font */
    text-align: left;
    font-size: var(--small-font-size);
    font-weight: normal;
    color: var(--color-3);
}

/* ----------------------------------- Experience-Card - Icon ---------------------------------- */

.experience-card .icon {

    /* Layout */
    width: 30px;
    height: 30px;

    /* Style */
    filter: brightness(0) saturate(100%) invert(92%) sepia(67%) saturate(6869%) hue-rotate(150deg) brightness(105%) contrast(92%);
}

/* ############################################################################################# */
/* ////////////////////////////////// SECTION TECHNICAL SKILLS ///////////////////////////////// */
/* ############################################################################################# */

/* -------------------------------------- Technical-Skills ------------------------------------- */

.technical-skills {

    /* Layout */
    display: flex;
    margin: 5px 5% 0 5%;

    /* Content Layout */
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* ---------------------------------------- Force-Break ---------------------------------------- */

.force-break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}

/* ----------------------------------------- Skill-Tag ----------------------------------------- */

skill-tag {

    /* Layout */
    padding: 10px 15px;

    /* Font */
    color: var(--color-5);
    font-weight: bold;

    /* Style */
    border: solid var(--color-5) 2px;
    border-radius: 5px;
}

skill-tag.dark {

    /* Font */
    color: var(--color-3);

    /* Style */
    border-color: var(--color-3);
}