/* ############################################################################################# */
/* //////////////////////////////////////////// MAIN /////////////////////////////////////////// */
/* ############################################################################################# */

@media (max-width: 1024px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }
}

/* -------------------------------------------- Body ------------------------------------------- */

body {

    /* Layout */
    margin: 0;

    /* Font */
    font-family: var(--font-family);

    /* Style */
    background-color: var(--color-2);
}

/* --------------------------------------------- H1 -------------------------------------------- */

h1 {

    /* Font */
    font-size: var(--header-font-size);
    font-weight: bold;
    color: var(--color-5);
}

/* --------------------------------------------- P --------------------------------------------- */

p {

    /* Font */
    font-size: var(--normal-font-size);
    font-weight: normal;
    color: whitesmoke;
}

/* ------------------------------------------ Btn-Link ----------------------------------------- */

.btn-link {

    /* Layout */
    display: inline-block;
    line-height: 0;
    text-decoration: none;
}

/* ############################################################################################# */
/* /////////////////////////////////////////// HEADER ////////////////////////////////////////// */
/* ############################################################################################# */

/* ------------------------------------------- Header ------------------------------------------ */

.header {

    /* Layout */
    display: flex;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: var(--header-height);
    padding: 0 5% 0 5%;

    /* Content Layout */
    justify-content: space-between;
    align-items: center;

    /* Style */
    backdrop-filter: blur(5px);
    background-color: var(--color-1);
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transition: all 0.5s ease-out;
}

/* ---------------------------------------- Header - H1 ---------------------------------------- */

.header h1 {

    /* Layout */
    display: block;
    margin: 0;
}

/* ------------------------------------ Header - H1 - Small ------------------------------------ */

.header h1 small {

    /* Layout */
    display: block;
    margin-top: 5px;

    /* Font */
    font-size: var(--normal-font-size);
    font-weight: lighter;
    color: var(--color-4);
}

/* --------------------------------------- Header - Links -------------------------------------- */

.header .links {

    /* Layout */
    display: flex;
    height: 100px;
    width: 50%;

    /* Content Layout */
    justify-content: end;
    align-items: center;
    gap: 1.5vw;
}

/* --------------------------------------- Header - Icons -------------------------------------- */

.header .icons {

    /* Layout */
    display: flex;
    max-width: 100%;
    max-height: 100%;

    /* Content Layout */
    gap: 1.5vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

/* --------------------------------------- Header - Icon --------------------------------------- */

.header .icon {

    /* Layout */
    aspect-ratio: 1 / 1;
    min-width: 0;
    min-height: 0;
    width: calc(50px * 1vw / 1vh);
    height: calc(50px * 1vw / 1vh);
    max-width: 50px;
    max-height: 50px;
    flex-shrink: 1;

    /* Style */
    transition: all 0.2s ease;
    opacity: 0.35;
}

.header .icon:hover,
.header .icon:active {

    /* Style */
    opacity: 1;
}

/* ---------------------------------- Header - Links - Resume ---------------------------------- */

.header .links .resume {

    /* Layout */
    display: flex;
    height: 70px;
    width: 85px;

    /* Content Layout */
    align-items: center;
    justify-content: center;

    /* Style */
    border: solid 1px var(--color-5);
    border-radius: 3px;
    background-color: var(--color-2);
    transition: all 0.2s ease;

    /* Font */
    color: var(--color-4);
}

.header .links .resume:hover,
.header .links .resume:active {

    /* Style */
    border-color: var(--color-4);
    background-color: var(--color-4);

    /* Font */
    color: var(--color-1);
}

/* ############################################################################################# */
/* //////////////////////////////////////// PAGE BOTTOM //////////////////////////////////////// */
/* ############################################################################################# */

/* ---------------------------------------- Page-Bottom ---------------------------------------- */

.page-bottom {

    /* Layout */
    padding: 30px 5% 30px 5%;

    /* Style */
    background-color: var(--color-1);
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 10px;
}

/* --------------------------------------- Page-Bottom P --------------------------------------- */

.page-bottom p {

    /* Font */
    text-align: center;
    color: var(--color-3);
}
