/* ############################################################################################# */
/* //////////////////////////////////// PROJECTS CARDS GRID //////////////////////////////////// */
/* ############################################################################################# */

/* ------------------------------------ Projects-cards-grid ------------------------------------ */

.projects-cards-grid {

    /* Layout */
    display: grid;
    margin: 60px 5% 0 5%;

    /* Content Layout */
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
    gap: 20px;
}

/* ############################################################################################# */
/* //////////////////////////////////////// PROJECT CARD /////////////////////////////////////// */
/* ############################################################################################# */

/* ---------------------------------------- Project-card --------------------------------------- */

.project-card {

    /* Layout */
    position: relative;
    aspect-ratio: 1 / 0.8;

    /* Content Layout */
    overflow: hidden;

    /* Style */
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 20px;
}

/* --------------------------------- Project-card - Background --------------------------------- */

.project-card .background {

    /* Layout */
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    object-fit: cover;

    /* Style */
    background-color: var(--color-2);
    transition: all var(--project-card-transition-duration) var(--project-card-easing);
}

.project-card:hover .background,
.project-card:active .background {

    /* Style */
    transform: scale(1.2);
}

/* ----------------------------------- Project-card - Content ---------------------------------- */

.project-card .content {

    /* Layout */
    display: flex;
    position: absolute;
    width: 101%;
    height: 100%;

    /* Content Layout */
    flex-direction: column;
    justify-content: flex-end;
}

/* ------------------------------------ Project-card - Tags ------------------------------------ */

.project-card .tags {

    /* Layout */
    display: flex;
    height: 15px;
    padding: 15px 30px 15px 30px;

    /* Content Layout */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    /* Style */
    translate: 0 1px;
    backdrop-filter: blur(1px);
    background-color: rgb(from var(--color-2) r g b / 75%);
}

/* ---------------------------------- Project-card - Tag-Region ---------------------------------- */

.project-card .tag-region {

    /* Layout */
    display: flex;
    height: 100%;
    width: auto;
    
    /* Content Layout */
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
}

/* ------------------------------ Project-card - Tag-Region - Span ----------------------------- */

.project-card .tag-region span {

    /* Font */
    color: white;
    font-size: var(--small-font-size);
    font-weight: lighter;
}

/* ---------------------------------- Project-card - Tag-Icon ---------------------------------- */

.project-card .tag-icon {

    /* Layout */
    height: 15px;
    width: 15px;
}

/* ---------------------------------- Project-card - Text-area --------------------------------- */

.project-card .text-area {

    /* Layout */
    padding: 10px 30px 20px 30px;
    height: 50px;
    z-index: 100;

    /* Style */
    background-color: var(--color-1);
    box-shadow: rgb(from var(--color-3) r g b / 50%) 0 -10px 20px;
    transition: all var(--project-card-transition-duration) var(--project-card-easing);
}

.project-card:hover .text-area,
.project-card:active .text-area {

    /* Layout */
    height: 45%;

    /* Style */
    box-shadow: rgb(from var(--color-5) r g b / 50%) 0 -10px 20px;
    background-color: whitesmoke;
}

/* ------------------------------------- Project-card - H1 ------------------------------------- */

.project-card h1 {

    /* Layout */
    margin: 0;

    /* Font */
    color: var(--color-5);
    font-size: var(--header-2-font-size);
    font-weight: bold;
    text-align: left;

    /* Style */
    transition: all var(--project-card-transition-duration) var(--project-card-easing);
}

.project-card:hover h1,
.project-card:active h1 {

    /* Style */
    color: var(--color-3);
}

/* ------------------------------------- Project-card - H2 ------------------------------------- */

.project-card h2 {

    /* Layout */
    margin: 0;

    /* Font */
    color: var(--color-3);
    font-size: var(--normal-font-size);
    font-weight: lighter;
    text-align: left;

    /* Style */
    transition: all var(--project-card-transition-duration) var(--project-card-easing);
}

.project-card:hover h2,
.project-card:active h2 {

    /* Style */
    color: var(--color-2);
}

/* -------------------------------------- Project-card - P ------------------------------------- */

.project-card p {

    /* Layout */
    margin: 15px 0 0 0;

    /* Font */
    color: rgb(from var(--color-3) r g b / 0%);
    font-size: var(--small-font-size);
    font-weight: lighter;
    text-align: left;

    /* Style */
    transition: all var(--project-card-transition-duration) var(--project-card-easing);
}

.project-card:hover p,
.project-card:active p {

    /* Font */
    color: var(--color-2);
}