:root {

    /* MAIN COLORS */
    --color-1: #00212e;
    --color-2: #002c3c;
    --color-3: #005878;
    --color-4: #00bbca;
    --color-5: #00ffff;
    --color-white: rgb(225, 225, 225);

    /* FONT */

    /* Font Size */
    --header-font-size: 3rem;
    --header-2-font-size: 1.3rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 1rem;

    /* Font Weight */
    --bold-font-weight: 700;
    --normal-font-weight: 400;
    --light-font-weight: 200;

    /* Font Family */
    --font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* OTHER */

    /* Header */
    --header-height: 150px;
    
    /* Project Cards */
    --project-card-transition-duration: 1.5s;
    --experience-card-transition-duration: 0.2s;
    --project-card-easing: cubic-bezier(0.16, 1, 0.3, 1);
}