:root {

    /* MAIN COLORS */
    --color-1: #021A23;
    --color-2: #042835;
    --color-3: #235F75;
    --color-4: #47BAC3;
    --color-5: #6EF5F5;

    /* FONT */

    /* Font Size */
    --header-font-size: 3rem;
    --header-2-font-size: 1.3rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 1rem;

    /* Font Family */
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* PROJECT CARDS */
    --project-card-transition-duration: 1s;
    --project-card-easing: cubic-bezier(0.16, 1, 0.3, 1);
}