<div class="footer" id="footer">

    <!-- Row 1 -->
    <div class="footer-row" id="footer-row-1">

        <!-- Footer Logo -->
        <div class="logo">
            <h1>Lenny Noncent</h1>
            <span>Game Programmer</span>
        </div>

        <!-- Clickable links -->
        <div class="links">

            <!-- Linkedin -->
            <a href="https://www.linkedin.com/in/lenny-noncent-049492335/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin btn-icon"></i>
            </a>

            <!-- Github -->
            <a href="https://github.com/Lenny-Noncent" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github btn-icon"></i>
            </a>
        </div>

    </div>

    <!-- Row 2 -->
    <div class="footer-row" id="footer-row-2">

        <!-- Copyright -->
        <span class="copyright">
            © 2026 Lenny Noncent. Tous droits réservés.
        </span>

        <!-- Button: Back to top -->
        <a href="#home" class="btn btn-ghost" id="btn-back-to-top">
            Retour en haut de la page ↑
        </a>
    </div>
</div>