<div class="header" id="header">

    <!-- Header Logo -->
    <a href="#home" class="logo">
        <h1>Lenny Noncent</h1>
        <span>Game Programmer</span>
    </a>

    <!-- Naviguation Links -->
    <nav class="nav-links">
        
    </nav>

    <!-- Clickable links -->
    <div class="links">
        <div class="icons">

            <!-- Linkedin -->
            <a href="https://www.linkedin.com/in/lenny-noncent-049492335/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin btn-icon"></i>
            </a>

            <!-- Github -->
            <a href="https://github.com/Lenny-Noncent" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github btn-icon"></i>
            </a>
        </div>

        <!-- Resume Button -->
        <a href="./resources/cv/CV-Lenny-Noncent.pdf" target="_blank" rel="noopener noreferrer" class="btn resume">CV</a>
    </div>
</div>
