/* ############################################################################################# */
/* ////////////////////////////////////////// SECTION ////////////////////////////////////////// */
/* ############################################################################################# */

.section {

    /* Layout */
    position: relative;
}

.section-container {

    /* Layout */
    position: relative;
    max-width: var(--font-scale-max-width);
    margin-inline: auto;
    padding: 5rem 8rem;
}

/* ############################################################################################# */
/* ///////////////////////////////////////// BACKGROUND //////////////////////////////////////// */
/* ############################################################################################# */

.section-background {

    /* Layout */
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;

    /* Style */
    pointer-events: none;
}

/* ############################################################################################# */
/* //////////////////////////////////////////// HEAD /////////////////////////////////////////// */
/* ############################################################################################# */

.section-head {

    /* Layout */
    padding-bottom: 2.2rem;
}

.section-head h1 {

    /* Layout */
    width: fit-content;

    /* Font */
    color: transparent;
    -webkit-text-fill-color: transparent;

    /* Style */
    background-image: var(--gradient-bg);
    background-size: var(--gradient-bg-size);
    background-clip: text;
    -webkit-background-clip: text;
    animation: var(--gradient-animation);
}

/* ############################################################################################# */
/* /////////////////////////////////////////// MEDIAS ////////////////////////////////////////// */
/* ############################################################################################# */


@media (max-width: 900px) {
    .section-container {
        padding: 5rem 4rem;
    }
}