/* ############################################################################################# */
/* ////////////////////////////////////////// SECTION ////////////////////////////////////////// */
/* ############################################################################################# */

.section {

    /* Layout */
    position: relative;
}

.section-container {

    /* Layout */
    position: relative;
    max-width: var(--font-scale-max-width);
    margin-inline: auto;
    padding: 5rem 5rem;
}

/* ############################################################################################# */
/* ///////////////////////////////////////// BACKGROUND //////////////////////////////////////// */
/* ############################################################################################# */

.section-background {

    /* Layout */
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;

    /* Style */
    pointer-events: none;
}

/* ############################################################################################# */
/* //////////////////////////////////////////// HEAD /////////////////////////////////////////// */
/* ############################################################################################# */

.section-head {

    /* Layout */
}

/* ############################################################################################# */
/* ////////////////////////////////////////// CONTENT ////////////////////////////////////////// */
/* ############################################################################################# */

.section-content {

    /* Layout */
    padding-top: 2.2rem;
}
